In [2]:
# Reference : https://medium.com/@msalmon00/web-scraping-job-postings-from-indeed-96bd588dcb4b
# For web scraping from Indeed when you have an URL

# URL under consideration for Indeed - https://www.indeed.com/jobs?q=data+scientist&l=San+Jose%2C+CA

In [1]:
# Import libraries and packages

import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
URL = "https://www.indeed.com/jobs?q=data+scientist&l=San+Jose%2C+CA"

# get the page with URL
page = requests.get(URL)

# page uses html. Parse content using html parser of BeautifulSoup
soup = BeautifulSoup(page.text, "html.parser")

# Print the parsed information
#print(soup.prettify())

In [4]:
def extract_job_title(html_text):
    jobs = []
    for div in html_text.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return jobs

job_titles = extract_job_title(soup)

In [6]:
#soup.find_all(name="div", attrs={"class":"row"})
job_titles

['Data Scientist Intern',
 'Data Scientists & Analytics Consultants (Relocation) - BHJOB4699_404',
 'Principal Data Scientist I',
 'Machine Learning Scientist at a hot AI startup',
 'Data scientist',
 'Data Scientist',
 'Siri - Data Scientist, Data organization',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (Outward, Inc.)',
 'Data Scientist Intern',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - New College Grad',
 'Business Analyst & Solution Engineers',
 'Data Scientist, People Analytics']

In [5]:
def extract_company_name(html_text):
    companies = []
    for div in html_text.find_all(name="div", attrs={"class":"row"}):
        company = div.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for x in company:
                companies.append(x.text.strip())
            else:
                company_1 = div.find_all(name="span",attrs={"class":"result-link-source"})
                for y in company_1:
                    companies.append(y.text.strip())
                
    return companies

companies = extract_company_name(soup)

In [8]:
len(companies)

16

In [27]:
a = soup.find_all(name="div", attrs={"class":["companyInfoWrapper", "sjcl"]})

In [46]:
#a

In [44]:
locations = []
for span in a:
    x=span.find(name="span", attrs={"class":"location"}) 
    if x is not None:
        locations.append(x.text.strip())
    else:
        y=span.find(name="div", attrs={"class":"location"})
        locations.append(y.text.strip())

print(locations)

['Milpitas, CA', 'San Jose, CA', 'San Jose, CA', 'Menlo Park, CA', 'San Jose, CA', 'Santa Clara, CA', 'Santa Clara Valley, CA', 'Santa Clara Valley, CA', 'Santa Clara, CA', 'San Jose, CA 95112 (Downtown area)', 'San Jose, CA', 'San Jose, CA', 'San Jose, CA', 'Sunnyvale, CA 94089', 'Sunnyvale, CA', 'San Jose, CA']

In [45]:
len(locations)

16

In [ ]:
for span in a:
    print(span)
    print(".................")
    x=span.find(name="span", attrs={"class":"location"}) 
    print(x)
    if x is not None:
        #print(x.find(name="span", attrs={"class":"location"}))
        print(x.text.strip())
    else:
        y=span.find(name="div", attrs={"class":"location"})
        print(y.text.strip())
    print(".................")
    print(".................")

In [6]:
def extract_location(html_text):
    locations = []
    for span in html_text.find_all(name="div", attrs={"class":["companyInfoWrapper", "sjcl"]}):
        x=span.find(name="span", attrs={"class":"location"}) 
        if x is not None:
            locations.append(x.text.strip())
        else:
            y=span.find(name="div", attrs={"class":"location"})
            locations.append(y.text.strip())
    return locations

locations = extract_location(soup)

In [49]:
locations

['Milpitas, CA',
 'San Jose, CA',
 'San Jose, CA',
 'Menlo Park, CA',
 'San Jose, CA',
 'Santa Clara, CA',
 'Santa Clara Valley, CA',
 'Santa Clara Valley, CA',
 'Santa Clara, CA',
 'San Jose, CA 95112 (Downtown area)',
 'San Jose, CA',
 'San Jose, CA',
 'San Jose, CA',
 'Sunnyvale, CA 94089',
 'Sunnyvale, CA',
 'San Jose, CA']

In [19]:
# Would not return salary for Sponsored jobs. Need an example to see if sponsored jobs salaries are in div or span
def extract_salary(html_text):
    salaries = []
    for div in html_text.find_all(name="div", attrs={"class":"row"}):
        sal = div.find("span", attrs={"class":"salary no-wrap"})
        if sal is None:
            salaries.append("Salary Not Found")
        else:
            salary = sal.find("span",attrs={"class":"salary no-wrap"})
            salaries.append(sal.text.strip())
    return(salaries)

salaries = extract_salary(soup)

In [20]:
salaries

['Salary Not Found',
 'Salary Not Found',
 '$90,000 - $110,000 a year',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 '$50 - $60 an hour',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 'Salary Not Found',
 '$75,000 - $135,000 a year',
 'Salary Not Found']

In [12]:
rows = soup.find_all(name="div", attrs={"class":"row"})
for div in rows: #attrs={"class":"salary no-wrap"}):
    span = div.find_all("span", attrs={"class":"salary no-wrap"})
    print("..........")
    print(span)

..........
[]
..........
[]
..........
[<span class="salary no-wrap">
                $90,000 - $110,000 a year</span>]
..........
[]
..........
[]
..........
[]
..........
[<span class="salary no-wrap">
                $50 - $60 an hour</span>]
..........
[]
..........
[]
..........
[]
..........
[]
..........
[]
..........
[]
..........
[]
..........
[]
..........
[<span class="salary no-wrap">
                $75,000 - $135,000 a year</span>]
..........
[]

In [53]:
#soup.find_all("div", attrs={"class":"salarySnippet"})
soup.find_all("span", attrs={"class":"salary no-wrap"})

[<span class="salary no-wrap">
                 $75,000 - $135,000 a year</span>,
 <span class="salary no-wrap">
                 $50 - $60 an hour</span>,
 <span class="salary no-wrap">
                 $100,000 - $120,000 a year</span>]

In [21]:
def extract_summary(html_text): 
    summaries = []
    spans = html_text.findAll("span", attrs={"class": "summary"})
    for span in spans:
        summaries.append(span.text.strip())
    return(summaries)

summaries = extract_summary(soup)

In [22]:
summaries

['The development and execution of new machine learning predictive modeling algorithms, the coding\\development of tools that use machine learning/predictive...',
 '5+ years experience in analytics and data science; We believe that behind every number is a person and a story, and that our job is to use data, reporting,...',
 "Master's degree on Statistics, Data Science, Finance or Marketing. The ideal candidate will be responsible for providing strategic recommendations based off of...",
 'Alternatively, the principle data scientist may have little or no scientific expertise in that particular domain but bring an extremely advanced set of skills...',
 'Masters or higher degree in applied math, statistics, machine learning, computer science or relevant subject....',
 'Conceptual understanding in Machine Learning models like Nai¨ve Bayes, K-Means, SVM, Apriori, Linear/ Logistic Regression, Neural, Random Forests, Decision...',
 'Hands on experience in implementation of Data Science project from start to finish. Data Scientist with experience in ML/Stats & Deeplearning Expertise in at...',
 'As a Data Scientist, you will analyze vast volumes of human behavioral data (web browsing, lab perceptual tests, brand lift studies) to discover meaningful...',
 'Build analytic, visualization, and other information products with a drive to automate and scale the insights available to science and engineering teams....',
 'We value your ongoing learning of new technologies and methods across data science, data engineering, and data visualization....',
 'Advanced degree in Machine Learning, Computer Science, Electrical Engineering, Physics, Statistics, Applied Math or other quantitative fields from a reputed...',
 'Data mining using state-of-the-art methods. Can build & manage a large amount of data pipelines as it contains to client web performance....',
 'R or scala programming, SQL experience. Identify, analyze and interpret trends or pattern in complex data sets, including telemetry from storage arrays and...',
 'Collaborate with other research scientists and engineers to formulate innovative solutions to experiment and implement advanced data mining techniques....',
 'You will be working with a team of highly skilled and motivated data scientists and machine learning engineers....',
 'Your background may be in consulting (Management or Big 4), banking, insurance, telecommunications, utilities, dealing with large amounts of customer or...',
 'Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems integrated with our...']

In [27]:
# Write results to dataframe
columns = ["Job Title", "Company Name", "Location", "Summary", "Salary"]
result_df = pd.DataFrame(columns = columns)

result_df

Empty DataFrame
Columns: [Job Title, Company Name, Location, Summary, Salary]
Index: []

In [28]:
result_df['Job Title'] = job_titles
result_df['Company Name'] = companies
result_df['Location'] = locations
result_df['Summary'] = summaries
result_df['Salary'] = salaries

result_df

,Job Title,Company Name,Location,Summary,Salary
0,Junior Data Scientist,Allstate,"Menlo Park, CA 94025",The development and execution of new machine l...,Salary Not Found
1,"Data Scientist, People Analytics",eBay Inc.,"San Jose, CA",5+ years experience in analytics and data scie...,Salary Not Found
2,Statistical Analyst for Marketing,Resure Technology,"Santa Clara, CA 95050","Master's degree on Statistics, Data Science, F...","$90,000 - $110,000 a year"
3,Principal Data Scientist I,Roche,"San Jose, CA","Alternatively, the principle data scientist ma...",Salary Not Found
4,Data Scientist,Akamai,"Santa Clara, CA","Masters or higher degree in applied math, stat...",Salary Not Found
5,Data scientist,Avila Trading,"San Jose, CA",Conceptual understanding in Machine Learning m...,Salary Not Found
6,Data Scientist,vysystems,"Santa Clara, CA",Hands on experience in implementation of Data ...,$50 - $60 an hour
7,Data Scientist,Invisibly,"Palo Alto, CA","As a Data Scientist, you will analyze vast vol...",Salary Not Found
8,"Siri - Data Scientist, Data organization",Apple,"Santa Clara Valley, CA","Build analytic, visualization, and other infor...",Salary Not Found
9,Data Scientist,Apple,"Santa Clara Valley, CA",We value your ongoing learning of new technolo...,Salary Not Found
10,Data Scientist,Palo Alto Networks,"Santa Clara, CA","Advanced degree in Machine Learning, Computer ...",Salary Not Found
11,"Data Scientist (Outward, Inc.)","Williams-Sonoma, Inc.","San Jose, CA 95112 (Downtown area)",Data mining using state-of-the-art methods. Ca...,Salary Not Found
12,Data Scientist Intern,Hewlett Packard Enterprise,"San Jose, CA","R or scala programming, SQL experience. Identi...",Salary Not Found
13,Data Scientist,Paypal,"San Jose, CA",Collaborate with other research scientists and...,Salary Not Found
14,Data Scientist,AppZen,"San Jose, CA",You will be working with a team of highly skil...,Salary Not Found
15,Data Scientists & Analytics Consultants (Reloc...,Carrington King Pty Ltd,"San Jose, CA",Your background may be in consulting (Manageme...,"$75,000 - $135,000 a year"
16,Data Scientist Intern,Lumentum Operations LLC,"Milpitas, CA",Your primary focus will be in applying data mi...,Salary Not Found

In [30]:
# Write result to a csv file
result_df.to_csv("result_job_portal.csv", index=False)

In [23]:
max_results_per_city = 10
city_set = ["New+York","Chicago","San+Francisco", "Austin", "Seattle", "Los+Angeles", "Philadelphia", "Atlanta", "Dallas", "Pittsburgh", "Portland", "Phoenix", "Denver", "Houston", "Miami", "Washington+DC", "Boulder"]
columns = ["city", "job_title", "company_name", "location", "summary", "salary"]
sample_df = pd.DataFrame(columns = columns)